# Minimal XiangShan fragment for booting directly into the built-in initramfs.
# Usage:
#   make ARCH=riscv defconfig minimal.config

CONFIG_DEFAULT_HOSTNAME="(XiangShan)"

CONFIG_SOC_XIANGSHAN=y

CONFIG_INITRAMFS_SOURCE="initramfs.cpio"
# CONFIG_RD_GZIP is not set
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
# CONFIG_RD_ZSTD is not set
CONFIG_INITRAMFS_COMPRESSION_NONE=y
# CONFIG_INITRAMFS_PRESERVE_MTIME is not set
CONFIG_KERNEL_UNCOMPRESSED=y

CONFIG_EXPERT=y
# CONFIG_MULTIUSER is not set
# CONFIG_SYSVIPC is not set
# CONFIG_POSIX_MQUEUE is not set
# CONFIG_FHANDLE is not set
# CONFIG_BUG is not set
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_EVENTFD is not set
# CONFIG_AIO is not set
# CONFIG_IO_URING is not set
# CONFIG_MEMBARRIER is not set
# CONFIG_KCMP is not set
# CONFIG_RSEQ is not set

CONFIG_NONPORTABLE=y
# CONFIG_ARCH_ANDES is not set
# CONFIG_ARCH_MICROCHIP is not set
# CONFIG_ARCH_SIFIVE is not set
# CONFIG_ARCH_SOPHGO is not set
# CONFIG_ARCH_SPACEMIT is not set
# CONFIG_SOC_STARFIVE is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_THEAD is not set
# CONFIG_ARCH_VIRT is not set
# CONFIG_ARCH_CANAAN is not set
CONFIG_CMODEL_MEDLOW=y
CONFIG_HZ_100=y
CONFIG_RISCV_SBI_V01=y
# CONFIG_CPU_IDLE is not set
# CONFIG_CPU_FREQ is not set
# CONFIG_COMPAT is not set
# CONFIG_ACPI is not set
# CONFIG_EFI is not set
# CONFIG_SECCOMP is not set
# CONFIG_STACKPROTECTOR is not set
# CONFIG_VMAP_STACK is not set
# CONFIG_STRICT_KERNEL_RWX is not set

CONFIG_BINFMT_SCRIPT=y
# CONFIG_COREDUMP is not set
# CONFIG_COMPACTION is not set
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_FW_LOADER is not set
# CONFIG_ALLOW_DEV_COREDUMP is not set

# CONFIG_BLOCK is not set
# CONFIG_NET is not set
# CONFIG_PCI is not set
# CONFIG_MTD is not set
# CONFIG_MMC is not set

# CONFIG_INPUT is not set
# CONFIG_I2C is not set
# CONFIG_SPI is not set
# CONFIG_PINCTRL is not set
# CONFIG_GPIOLIB is not set
# CONFIG_DMADEVICES is not set
# CONFIG_HID is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_UNIX98_PTYS is not set
# CONFIG_LEGACY_PTYS is not set
CONFIG_HVC_DRIVER=y
CONFIG_HVC_RISCV_SBI=y

# CONFIG_HW_RANDOM is not set
# CONFIG_DEVMEM is not set
# CONFIG_HWMON is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_POWER_RESET is not set
# CONFIG_RESET_CONTROLLER is not set
# CONFIG_NVMEM is not set
# CONFIG_EXTCON is not set
# CONFIG_REGULATOR is not set
# CONFIG_THERMAL is not set
# CONFIG_WATCHDOG is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_SOUND is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_RTC_CLASS is not set
# CONFIG_EEPROM_93CX6 is not set

# CONFIG_FILE_LOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USER is not set
# CONFIG_MISC_FILESYSTEMS is not set
# CONFIG_SIFIVE_PLIC is not set

CONFIG_PRINTK_TIME=y

# CONFIG_PM is not set
# CONFIG_SUSPEND is not set

CONFIG_DEVTMPFS=y
# CONFIG_DEVTMPFS_MOUNT is not set
